.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes anim-typewriter{
    from{
        width: 0;
    }
    to{
        width: 16em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-rigth-color: (255, 255, 255, 0.75 )
    }
    to{
        border-right-color: transparent;
    }
}